<div class="postItem">
    <div class="itemInfo">
        <p class="itemTitle">When cat does human works</p>
        <p class="itemTime">1 giờ trước</p>
    </div>
    <img class="itemImage" style="width: 100%" src="<%=images.direct_url%>">
    <div class="itemAction">
        <div class="love">
            <a class="loveIcon" href="javascript:loveAction(1);"><i class="fa fa-heart fa-lg" aria-hidden="true" ></i></a>
            <p class="loveCount" ><%=images.love_count%></p>
        </div>
        <div class="share">
            <a class="shareIcon" href="javascript:loveAction(1);"><i class="fa fa-share-square-o fa-lg" aria-hidden="true"></i></a>
            <p class="shareTxt" >Share</p>
        </div>
        <p class="loopsCount"><%=images.view_count%> Loops</p>
    </div>
    <div class="commentCount">
        128 comments
    </div>
    <div class="directComment">
        <input class="directTxt form-control" placeholder="Say something nice .." type="text" name="directComment">
    </div>

</div>