<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
    <head>
        <title>AnhDong.vn - Tạo ảnh động, ảnh gif online miễn phí </title>
        <meta name="description" content="Trang tạo ảnh động đầu tiên tại việt nam cho phép bạn tạo ảnh động từ video miễn phí"/>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel="icon" type="image/png" href="/images/fav.png">
        <link rel="stylesheet" type="text/css" href="/html/css/vendor/font-awesome-4.4.0/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="/html/css/vendor/bootstrap-3.3.5-dist/css/bootstrap-theme.min.css">
        <link rel="stylesheet" type="text/css" href="/html/css/vendor/bootstrap-3.3.5-dist/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/html/css/vendor/bxslider/jquery.bxslider.css">
        <link rel="stylesheet" type="text/css" href="/html/css/style.css">




        <link rel="stylesheet" type="text/css" href="/html/css/progressBar.css">
        <link rel="stylesheet" type="text/css" href="/html/css/examples.css">
        <link rel="stylesheet" type="text/css" href="/html/css/powerange.css">
        

		<link rel="stylesheet" type="text/css" href="/html/css/powerange.css">


        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic,700,300,800' rel='stylesheet' type='text/css'>

        <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
		<script src="https://code.jquery.com/jquery-2.2.3.min.js"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.1/jquery.min.js" type="text/javascript"></script>
		<script src="http://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

        <meta property="og:title" content="AnhDong.vn - Tạo ảnh động, ảnh gif online miễn phí" />
        <meta property="og:description" content="Trang tạo ảnh động đầu tiên tại việt nam cho phép bạn tạo ảnh động từ video miễn phí" />
        <meta property="og:image" content="/images/logo.png" />
        <meta property="og:url" content="/images/logo.png" />

    </head>
    <body class="home">
        <div class="wrapper">
            <div class="page">

                <!------ HEADER ------>
                <div class="header">
                    <div class="header-topbar">
                        <div class="menu">
                            <div class="container">

                                <div class="logo pull-left">
                                    <a href="/"><img alt="Ảnh Động" src="/images/logo.png"></a>
                                </div>
                                <nav class="navbar navbar-default pull-left">
                                    <div class="navbar-header">
                                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                                                data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                                            <span class="sr-only">Toggle navigation</span>
                                            <span class="icon-bar"></span>
                                            <span class="icon-bar"></span>
                                            <span class="icon-bar"></span>
                                        </button>
                                    </div>
                                </nav>

                                <nav class="navbar navbar-default pull-right">
                                    <div class="navbar-header">
                                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                                                data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                                            <span class="sr-only">Toggle navigation</span>
                                            <span class="icon-bar"></span>
                                            <span class="icon-bar"></span>
                                            <span class="icon-bar"></span>
                                        </button>
                                    </div>
                                    <!--<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">-->
                                        <!--<ul class="nav navbar-nav">-->
                                            <!--<li><a href="">sign in</a></li>-->
                                            <!--<li><a href="">sign up</a></li>-->
                                        <!--</ul>-->
                                    <!--</div>-->
                                </nav>
                            </div>
                        </div>
                    </div>
                 </div>


                 <div class="banner-backgroud"></div>
                 <section>
                    
                    <div class="heading-title">
                        <h3>Tạo ảnh động từ video</h3>
                        <p>1. Điền link &nbsp;&nbsp;&nbsp;&nbsp; &rarr; &nbsp;&nbsp;&nbsp;&nbsp; 2. Chọn thời gian &nbsp;&nbsp;&nbsp;&nbsp; &rarr; &nbsp;&nbsp;&nbsp;&nbsp; 3. Tạo ảnh</p>
                     </div>
                     <div class="copy-link">
                        <form action="">
                            <div class="url">
                                 <input type="url" placeholder="Nhập link youtube ở đây để bắt đầu..." class="animate-flip" id="url-input" name="videoUrl" value="">
                                
                                <div class="animate-flip">
                                    <div class="loader">
                                    </div>
                                    <div class="failed"><i class="fa fa-times-circle-o" aria-hidden="true"></i></div>
                                    <div class="success"><i class="fa fa-check-circle-o" aria-hidden="true"></i></div>
                                </div>
                            </div>
                            <input type="button" onclick="createGif()" value="Tạo ảnh"  class="btn-submit hidden">
                        </form>
                     </div>
                     
                     <div class="hidden-home  video-container hidden">
                        <div class="active-video">
                            <div id="player" class="overplay">
                            </div>
                            <div class="controls">
                                <button class="play playing">
                                    <i class="fa fa-caret-right click-active " aria-hidden="true"></i>
                                    <i class="fa fa-pause click-hidden" aria-hidden="true"></i>
                                </button>
                                <div class="select-time-start timeline">
                                    <div class="selection">
                                        <div class="slider-container">
                                            <div class="slider-range"></div>
                                            <div data-role="main" class="ui-content">
                                                    <div class="example">
                                                        <div class="slider-wrapper">
                                                            <input type="text" class="js-min-max-start" />
                                                        </div>
                                                    </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <button class="volume">
                                    <i class="fa fa-volume-off click-active " aria-hidden="true"></i>
                                    <i class="fa fa-volume-up click-hidden" aria-hidden="true"></i>
                                </button>
								<div class="select-time-end timeline selection-gif">
                                    <div class="selection">
                                        <div class="slider-container">
                                            <div class="slider-range"></div>
                                            <div data-role="main" class="ui-content">
                                                    <div class="example">
                                                        <div class="slider-wrapper">
                                                            <input type="text" class="js-min-max-start-1" />
                                                        </div>
                                                    </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                     </div>
                     <div class="hidden-progress hidden">
                         </br>
                         </br>
                         </br>
                         <div id="myProgress">
                             <div id="myBar">
                                 <div id="label">0%</div>
                             </div>
                         </div>


                     </div>
                     <!--
                     <div>
                         <div id="example1" class="example"></div>
                     </div>
                     -->


                 </section>
                <div class="loader-page">
                     <div class="loader"></div>
                 </div>
            </div>
        </div>
        <!--
        <script src="/html/js/radial-progress-bar.js"></script>
        <script src="/html/js/examples.js"></script>
        <script src="/html/js/progressCycle.js"></script>
        -->
		<script src="/html/js/powerange.min.js"></script>
		<script src="/html/js/system.js"></script>

    </body>
</html>
