<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html>
    <head>
        <title>AnhDong.vn - Tạo ảnh động, ảnh gif online miễn phí </title>
        <meta name="description" content="Trang tạo ảnh động đầu tiên tại việt nam cho phép bạn tạo ảnh động từ video miễn phí"/>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel="icon" type="image/png" href="/images/fav.png">
        <link rel="stylesheet" type="text/css" href="/html/css/vendor/font-awesome-4.4.0/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="/html/css/vendor/bootstrap-3.3.5-dist/css/bootstrap-theme.min.css">
        <link rel="stylesheet" type="text/css" href="/html/css/vendor/bootstrap-3.3.5-dist/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/html/css/vendor/bxslider/jquery.bxslider.css">
        <link rel="stylesheet" type="text/css" href="/html/css/style.css">
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic,700,300,800' rel='stylesheet' type='text/css'>

        <meta property="og:title" content="AnhDong.vn - Tạo ảnh động, ảnh gif online miễn phí" />
        <meta property="og:description" content="Trang tạo ảnh động đầu tiên tại việt nam cho phép bạn tạo ảnh động từ video miễn phí" />
        <meta property="og:image" content="<%= image.direct_url %>" />

    </head>
    <body class="home">
        <div class="wrapper">
            <div class="page">

                <!------ HEADER ------>
                <div class="header">
                    <div class="header-topbar">
                        <div class="menu">
                            <div class="container">

                                <div class="logo pull-left">
                                    <a href="/"><img alt="Ảnh Động" src="/images/logo.png"></a>
                                </div>
                                <nav class="navbar navbar-default pull-left">
                                    <div class="navbar-header">
                                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                                                data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                                            <span class="sr-only">Toggle navigation</span>
                                            <span class="icon-bar"></span>
                                            <span class="icon-bar"></span>
                                            <span class="icon-bar"></span>
                                        </button>
                                    </div>
                                </nav>

                                <nav class="navbar navbar-default pull-right">
                                    <div class="navbar-header">
                                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                                                data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                                            <span class="sr-only">Toggle navigation</span>
                                            <span class="icon-bar"></span>
                                            <span class="icon-bar"></span>
                                            <span class="icon-bar"></span>
                                        </button>
                                    </div>
                                    <!--<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">-->
                                    <!--<ul class="nav navbar-nav">-->
                                    <!--<li><a href="">sign in</a></li>-->
                                    <!--<li><a href="">sign up</a></li>-->
                                    <!--</ul>-->
                                    <!--</div>-->
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>

                 <div class="section">
                    <div class="container">
                       <div class="post-container">
                            <div class="post-header">
                               Title of the image
                            </div>
                            <div class="hidden-home  video-container">
                                <div class="active-video">
                                    <div class="overplay">
										<img style="width:100%" src="<%= image.direct_url %>" />
                                    </div>
                                </div>
                            </div> 
                            <div class="under-image">
                                <div class="action-bar">
                                    <span><i class="fa fa-heart" aria-hidden="true"></i></span>
                                    <!--<span class="view">2 views</span>-->
                                    <!--<span class="post-option">post option</span>-->
                                </div>
                            </div>
                        </div> 
                        <div class="content-image ">
                            <div class="slide-bar">
                                <div class="title">
                                    <p>Thông tin về ảnh</p>
                                </div>
                                <div class="content">
                                    <ul class="option">
                                        <li>Kích cỡ:  <%= image.width + ' x ' + image.height %></li>
                                        <li>Nguồn :  Youtube</li>
                                        <li>shortlink: <%= image.short_link %></li>
                                    </ul>
                                    <div class="button">
                                        <a href="">Share with the community</a>
                                    </div>
                                    <span class="active-image">
                                        <a href="" class="pull-left"><i class="fa fa-trash-o" aria-hidden="true"></i>Delete Image</a>
                                        <a href="" class="pull-right"><i class="fa fa-arrow-circle-down" aria-hidden="true"></i>Download Image</a>
                                    </span>
                                </div>
                            </div>
                            
                        </div>
                        <div class="content-image hidden">
                            <div class="slide-bar">
                                <div class="title">
                                    <p>Share this Image</p>
                                </div>
                                <div class="content">
                                    <ul class="option-link">
                                        <li>
                                            <label class="share">Share link</label>
                                            <span>
                                                <i class="fa fa-files-o" aria-hidden="true"></i>
                                                <input type="text" class="share-link" value="">
                                            </span>
                                            
                                        </li>
                                        <li>
                                            <label class="share">Direct Link</label>
                                            <span>
                                                <i class="fa fa-files-o" aria-hidden="true"></i>
                                                <input type="text" class="direct-link" value="">
                                            </span>
                                            
                                        </li>
                                        <li>
                                            <label class="share">Embed in HTML</label>
                                            <span>
                                                <i class="fa fa-files-o" aria-hidden="true"></i>
                                                <input type="text" class="embed-link" value="">
                                            </span>
                                            
                                        </li>
                                        <li>
                                            <label class="share">BBCode (Forums)</label>
                                            <span>
                                                <i class="fa fa-files-o" aria-hidden="true"></i>
                                                 <input type="text" class="forums-link" value="">
                                            </span>
                                        </li>
                                        <li>
                                            <label class="share">Markdown (Reddit)</label>
                                            <span>
                                                <i class="fa fa-files-o" aria-hidden="true"></i>
                                                <input type="text" class="reddit-link" value="">
                                            </span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    
                 </div> 

                 
            </div>
        </div>
    </body>
</html>
