.range-bar {
  background-color: #262626;
  border-radius: 0px;
  display: block;
  height: 25px;
  position: relative;
  width: 100%;
}

.range-quantity {
  background-color: #618e31;
  border-radius: 0px;
  display: block;
  height: 100%;
  width: 0;
}

.range-handle {
  background-color: #fff;
  border-radius:5px;
  cursor: move;
  height: 27px;
  left: 0;
  top: -1px;
  position: absolute;
  width: 5px;

  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
}

.range-min,
.range-max {
  color: #181819;
  font-size: 12px;
  height: 20px;
  padding-top: 4px;
  position: absolute;
  text-align: center;
  top: -9px;
  width: 24px;
  display: none;
}

.range-min {
  left: -30px;
}

.range-max {
  right: -30px;
}

/**
 * Vertical slider style.
 */

.vertical {
  height: 100%;
  width: 4px;
}

.vertical .range-quantity {
  bottom: 0;
  height: 0;
  position: absolute;
  width: 100%;
}

.vertical .range-handle {
  bottom: 0;
  left: -13px;
  top: auto;
}

.vertical .range-min,
.vertical .range-max {
  left: -10px;
  right: auto;
  top: auto;
}

.vertical .range-min {
  bottom: -30px;
}

.vertical .range-max {
  top: -30px;
}

/**
 * Style for disabling text selection on handle move.
 */

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/**
 * Style for handle cursor on disabled slider.
 */

.range-disabled {
  cursor: default;
}



.ytp-chrome-bottom{
    display: none;
}
.selection-gif{
  position: absolute;
  top: 30px;
  height: 25px;
  width: 180px;
  float: left;
  left: 40px;
}
.selection-gif .selection{
  height: 25px;
  }
.selection-gif .range-bar{
  height: 35px;
  }
.selection-gif .range-quantity{
  background: #74b20e;
}
.selection-gif .range-handle {
  height: 37px;
  }
