/*----- Tablet
------------------------------------------*/
@media screen and (max-width: 1199px) {
    .home .footer{
        margin-top: 0;
        background: #000;
    }
}

/*----- Tablet vertical -----*/
@media screen and (max-width: 991px) {
    /*--- HEADER ---*/
    .header .menu > .container{
        padding-left: 0;
        padding-right: 0;
    }
    .header .navbar-nav > li{
        margin: 5px 7px 0;
    }
    .navbar-default .navbar-nav > li > a{
        font-size: 12px;
    }
    .header .search-wrap{
        width: 35px;
    }
    p.has-image img{
        width: 300px;
    }
}


/*----- Mobile
------------------------------------------*/
@media screen and (max-width: 767px) {
    .top-header{
        padding: 30px 0 10px;
    }
    .top-header .logo{
        padding: 0 15px;
        font-size: 16px;
        line-height: 18px;
    }
    .top-header .logo img{
        display: block;
        margin: 0 auto 15px;
    }
    .header .menu > .container{
        padding-left: 15px;
        padding-right: 15px;
        position: relative;
    }
    .language-switcher{
        z-index: 1;
    }
    .header nav{
        display: block;
        float: right;
        position: absolute;
        top: 0;
        right: 15px;
        z-index: 200;
        text-align: left;
    }
    .navbar-toggle{
        margin: 0;
    }
    .navbar-default .navbar-nav > li > a{
        padding: 10px 15px;
        border-width: 0 0 1px;
        border-color: #0066a4;
    }
    .navbar-default .navbar-nav > li > a:hover,
    .navbar-default .navbar-nav > .active > a:focus,
    .navbar-default .navbar-nav > .active > a:hover,
    .header nav .sub-menu a:hover{
        background: #ddd;
        color: #000;
    }
    .navbar-default .navbar-nav > li .expand{
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        width: 40px;
        height: 40px;
    }
    .navbar-default .navbar-nav > li .expand:before{
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        content: "\f054";
        color: #0066a4;
        text-align: center;
        font: normal 14px fontawesome;
        line-height: 40px;
        background: #ddd;
    }
    .navbar-default .navbar-nav > li .expand.active:before{
        content: "\f078";
    }
    .header .navbar-collapse{
        position: absolute;
        top: 100%;
        right: 0;
        width: 290px;
        background: #eee;
        border: none;
        margin-top: 10px;
    }
    .navbar-nav{
        margin: 0;
    }
    .header .navbar-nav > li{
        width: 100%;
        margin: 0;
    }
    .header nav .sub-menu,
    .header nav li:hover .sub-menu{
        position: static;
        margin: 0;
        visibility: visible;
        opacity: 1;
        width: 100%;
        padding: 0;
        background: none;
        display: none;
        transition: none;
        -webkit-transition: none;
    }
    .header nav .sub-menu a,
    .header nav .sub-menu li:last-child a{
        padding: 10px 15px 10px 30px;
        color: #000;
        border-bottom: 1px solid #0066a4;
    }
    .header .search-wrap{
        float: none;
        clear: both;
        padding: 15px 0 0;
        width: 100%;
    }
    .header .search-btn{
        display: none;
    }
    .header .search-form{
        opacity: 1;
        visibility: visible;
        margin: 0;
        width: 100%;
        position: relative;
    }
    .header .search-form .btn{
        width: 40px;
        height: 36px;
        opacity: 1;
        visibility: visible;
        text-indent: -999em;
        font-size: 0;
        background: none;
        border-radius: 0;
        -webkit-border-radius: 0;
        padding: 0;
    }
    .header .search-form .btn:before{
        width: 100%;
        height: 100%;
        font: normal 14px fontawesome;
        line-height: 34px;
        text-align: center;
        color: #fff;
        text-indent: 0;
        content: "\f002";
    }

    .short-about{
        position: static;
        background: rgba(0,0,0,0.5);
        padding: 20px 15px;
    }
    .slider-home .next-slide{
        position: absolute;
        top: 17%;
        left: 50%;
        margin: 0 0 0 -8px;
    }
    .slider-home .next-slide a{
        width: 16px;
        background-size: 16px auto;
        height: 66px;
    }
    .slider-home .bx-wrapper .bx-pager .bx-pager-item{
        padding: 4px 0;
    }
    .slider-home .bx-wrapper .bx-pager.bx-default-pager a{
        width: 12px;
        height: 12px;
    }
    .entry-content{
        padding-top: 20px;
    }
    p.has-image{
        display: inline-block;
        width: 100%;
    }
    p.has-image span{
        width: 100%;
    }
	.banner .banner-text{
		padding: 0 20px;
	}
	.banner .banner-text h1{
		letter-spacing:5px;
		
	}
	.section-bottom-product-detail p{
		margin-top:50px;
	}
}