.pull-right{
    float: right !important;
}
.pull-left{
    float: left !important;
}

/*----- GLOBAL
--------------------------------------------------*/
*,
*:hover,
*:focus,
*:active,
*:visited{
    outline: none!important;
}
.container{
    width: 1030px;
}
body{
    font-family: Arial,sans-serif;
    color: #121211;
    height: 100%;
    background-color: #e9ebee;
    margin: 0;
    font-size: 14px;
    z-index: 9999;
}
.banner-backgroud{
    background:url("/images/bg.jpg") center center no-repeat;
    background-size: cover;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition-timing-function: cubic-bezier(0.68,0,.265,1);
    transition-property: opacity;
    z-index: 0;
    transition-duration: 0;
    opacity: .06;
}
section{
    width: 670px;
    height: 600px;
    margin: 30px auto;
    z-index: 1;
    position: relative;
    font-family: open_sansregular,Arial,sans-serif;
}
.container-fluid{
    padding-left:0px;
    padding-right:0px;
}
ul,
ol{
    list-style: none;
    margin: 0;
    padding: 0;
}
.std ul,
.std ol{
    margin-left: 30px;
}
.std ul{
    list-style: circle outside;
}
.std ol{
    list-style: decimal outside;
}
img{
    max-width: 100%;
    height: auto;
}
table img{
    max-width: none;
}

/*----- HEADER
--------------------------------------------------*/
.header{
    text-align: center;
    position: relative;
    z-index: 200;
    background-color: #181818;
}
.top-header{
    padding: 45px 0 50px;
}
.header .menu{
    padding-bottom: 10px;
}
.header nav{
    display: inline-block;
    background: none;
    border: none;
    box-shadow: none;
    -webkit-box-shadow: none;
    margin: 0;
    min-height: 0;
}
.header .navbar-nav > li{
    float: none;
    display: inline-block;
    margin: 5px 13px 0;
    vertical-align: top;
    position: relative;
}
.header .navbar-collapse{
    padding: 0;
    background: none;
}
.navbar-nav i{
    font-size: 20px;
}
.navbar-default .navbar-nav > li > a{
    padding: 0;
    font-weight: bold;
    font-size: 14px;
     color: #ddddd1;
    text-transform: capitalize;
    line-height: 20px;
    transition: border 0.4s;
    -webkit-transition: border 0.4s;
    font-weight: 400;

}
.navbar-default .navbar-nav > li > a:hover,a:focus,a:active{
    color: #ddddd1;
}
.header nav .sub-menu{
    margin: 48px 0 0 -75px;
    position: absolute;
    width: 150px;
    background: #fff;
    text-align: left;
    top: 100%;
    left: 50%;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
}
.header nav .sub-menu:before{
    width: 100%;
    height: 40px;
    content: "";
    background: transparent;
    position: absolute;
    bottom: 100%;
    left: 0;
}
.header nav li:hover .sub-menu{
    margin-top: 0px;
    opacity: 1;
    visibility: visible;
}
.header nav .sub-menu a{
    font-weight: 400;
    font-size: 12px;
    color: #333;
    text-transform: capitalize;
    line-height: 20px;
    padding: 5px 0;
    display: block;
    border-bottom: 1px solid rgba(255,255,255,0.1);
}
.header nav .sub-menu a:hover{
    text-decoration: none;
     color: #333;
}
.header nav .sub-menu li{
    padding: 0px 10px ;
}
.header nav .sub-menu li:hover{
    text-decoration: none;
     background: #ddddd1;
}
.header nav .sub-menu li:last-child a{
    border: none;
}
.header .search-wrap{
    float: right;
    width: 100px;
    text-align: right;
    position: relative;
    margin-top: -7px;
}
.header .search-btn{
    height: 34px;
    width: 44px;
    display: inline-block;
    vertical-align: top;
    line-height: 34px;
    cursor: pointer;
    text-align: center;
    font-size: 14px;
     color: #ddddd1;
    line-height: 34px;
    z-index: 9;
}
.header .search-form{
    width: 253px;
    position: absolute;
    top: 100%;
    margin: 42px 0 0;
    right: 0;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    
}
.header .search-form.active{
    visibility: visible;
    opacity: 1;
    margin-top: -35px;
}
.header .search-form input[type=text]{
    z-index: -1px;
    width: 100%;
    height: 36px;
    background: rgba(0,0,0,1);
    padding: 0 15px;
    font-size: 13px;
    color: #fff;
    border: none;
    border-radius: 0;
    -webkit-border-radius: 0;
}
.header .search-form input[type=text]::-webkit-input-placeholder {
    color: #fff;
    opacity: 1;
}

.header .search-form input[type=text]:-moz-placeholder {
    color: #fff;
    opacity: 1;
}

.header .search-form input[type=text]::-moz-placeholder {
    color: #fff;
    opacity: 1;
}

.header .search-form input[type=text]:-ms-input-placeholder {
    color: #fff;
    opacity: 1;
}
.header .search-form .btn{
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
}
.logo{
    width: 110px;
    padding: 0;
    position: relative;
    display: block;
    margin-top: 7px;
}
.navbar-nav{
    margin-top: 7px;
}
.heading-title{
    margin: 150px auto 70px;
    position: relative;
    height: 87px;
    opacity: 1;
    letter-spacing: .04em;
    text-align: center;
}
.heading-title h3{
    font-size: 50px;
    line-height: 60px;
    color: #0E0E0E;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
}
.heading-title p{
    margin: 20px 0 0 0;
    color: #5F5F51;
    font-size: 16px;
}
::-webkit-input-placeholder {
    color: #80806e;
}
input[type=url]{
    display: block;
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    color: #121211;
    background: rgba(0,0,0,0);
    height: 41px;
    border-radius: 4px;
    transition-property: width,height,border-radius,font-size;
    font-family: inherit;
    border: 1px solid #B7B7AC;
    font-size: 14px;
    cursor: text;
}
.loader{
    background: url("../assets/images/oval-loader.svg");
    opacity: .4;
    background-repeat: no-repeat;
    background-position: 50%;
    width: 38px;
    height: 38px;
    display: none;
    position: absolute;
    margin: 0 auto;
    top: 0%;
    left: 0;
    right: 0;
}
.btn-submit{
    margin-top: 45px;
    margin-right: 10px;
    float: right;
    font-family: Arial;
    font-weight: 700;
    font-size: 14px;
    color: #fff;
    padding: 8px 25px;
    border-radius: 4px;
    background: #3b7cff;
    border: 1px solid #D8DCD1;
    right: 0;
}
.active-video{
    margin-top: 10px;
    position: relative;
    height: 100%;
   /* display: none;*/
}
.create-section {
    /*display: none;*/
    position: absolute;
    bottom: -25%;
    width: 100%;
    margin-bottom: 70px;
}

#myProgress {
    margin-top: 46px;
    margin-left: 10px;
    position: absolute;
    left: 0;
    width: 80%;
    height: 35px;
    background-color: #ddd;
}

#myBar {
    position: absolute;
    width: 1%;
    height: 100%;
    background-color: rgba(59, 131, 247, 0.72);
}

#label {
    text-align: center;
    line-height: 30px;
    color: white;
}
.video-container{
    position: relative;
     height: 350px;
}
.overplay{
    position: absolute;
    left: 10px;
    top: 0;
    width: 650px;
   height: 100%;
    background: #fff;
}
.controls {
    position: relative;
    height: 25px;
    width: 650px;
    margin: 0 auto;
    margin-top: 0px;
    top:100%;
}
button.volume{
    position: absolute;
    top:0;
    right: 0px;
    width: 40px;
    font-size: 20px;
    text-align: center;
    height: 25px;
    padding: 0;
    border: 0;
}
button.playing{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 40px;
    text-align: center;
    font-size: 16px;
    height: 25px;
    padding: 0;
    border: 0;
}
.click-hidden{
    display: none;
}

.play:active .click-active{
    display: none;
}
.play:active .click-hidden{
    display: block;
}
.click-active:active{
    display: none;
}
.volume:active .click-hidden{
    display: block;
}
.section{
    margin-top: 90px;
}
.title{
    border-radius: 7px 7px 0 0;
    position: relative;
    z-index: 1;
    height: 60px;
    padding: 0 20px;
    background-color: #BABCBF;
    font-weight: 400;
    display: -webkit-flex;
    -webkit-flex-direction: column;
    -webkit-justify-content: center;
    -webkit-align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-family: 'Open Sans', sans-serif;
}
.content{
    padding:20px;
    background-color: rgb(248, 248, 248);
}
ul li{
    padding:5px 0px;
}
ul li a{
    color: #4E76C9;
    text-decoration: none;
    text-transform: capitalize;
    padding: 10px 0px;
}
ul li a:hover{
    text-decoration: underline;
    color: #4E76C9;
}
.button{
    margin-bottom: 20px;
    box-sizing: border-box;
    text-align: center;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    background: #3b5998;
    background: linear-gradient(to bottom,#3b5998 0, #4167ac 100%);
    border-top: 1px solid #3f6bae;
    border-bottom: 1px solid #37518c;
    margin-top: 25px;
}
.button a{
    
    color: #ddddd1;
    box-sizing: border-box;
    text-align: center;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    display: block;
    padding: 10px 0px;
}
.post-container{
    width: 670px;
    float: left;
    margin-right: 30px;
    background-color: rgb(248, 248, 248);
}
.content-image{
    width: 300px;
    float: left;
    margin-bottom: 20px;
}
.active-image{
    display: block;
    height: 20px;
}
.active-image a{
    
    color: #ddddd1;
    display: inline-block;
    cursor: pointer;
}
.active-image a i{
    padding-right: 10px;
    }
label{
    display: block;
    color: #ddddd1;
    font-weight: 300;
}
.option-link li{
    padding: 10px 0px;
}
.option-link li span i{
    padding-right: 10px;
    font-size: 20px;
    color: #ddddd1;
}
.option-link input[type=text]{
    display: inline-block;
    border: 0;
    padding: 10px;
    border-radius: 5px;
    font-family: courier,monospace;
    background-color: #252525;
    color: #ddddd1;
    box-sizing: border-box;
    width: 220px;
    box-shadow: none;
    cursor: text;
}
.post-header {
    padding: 10px 20px;
    background: rgb(248, 248, 248);
    width: 650px;
    border-radius: 5px 5px 0 0;
    box-shadow: 0 4px 4px -2px rgba(0,0,0,.2);
    position: relative;
    z-index: 3;
    margin-left: 10px;
    margin-bottom: -10px;
}
.under-image{
    padding: 20px;
    background: rgb(248, 248, 248);
    width: 650px;
    border-radius: 0 0 5px 5px;
    margin-left: 10px;
}
.animate-flip{
    position: absolute;
    right: 0px;
    top:0px;
    width: 38px;
    height: 41px;
    font-size: 30px;
    line-height: 41px;
}
.url{
    position: relative;
    height: 42px;
}
.failed{
    color: #d43030;
    display: none;
}
.success{
    color: #6fb524;
    display: none;
}
.loader-page{
    position: absolute;
    background: #111;
    top:0;
    height: 100%;
    z-index: 999;
    width: 100%;
    display: none;
}
.timeline{
    width: 575px;
    height: 25px;
    left: 40px;
    position: absolute;
}
.pause-slider{
    height: 69px;
    bottom: -43px;
    position: absolute;
    background: #fff;
    width: 5px;
    left: 40px;
    border-radius: 4px;
    z-index: 1;
    cursor: col-resize;
}
.selection{
    width: 100%;
    height: 25px;
    box-shadow: 2px 0 4px 1px rgba(0,0,0,.1);
    top:0px;
    left:0px;
    position: absolute;
}
input[type=range] {
    display: block;
    width: 100%;
    height: 35px;
}
.timeline input[type=range] {
    display: block;
    width: 100%;
    height: 25px;
}
.active{
    display: block;
}



.ytp-chrome-bottom{
    display: none;
}

.ytp-progress-bar-container{
    display: none;
}

.ytp-chrome-bottom{
    display: none;
}
.time-point {
  background-color: #fff;
  cursor: move;
  height: 25px;
  left: 0;
  top: 0px;
  position: absolute;
  width: 1px;
}
.time-point-end {
  background-color: #fff;
  cursor: move;
  height: 35px;
  left: 0;
  top: 0px;
  position: absolute;
  width: 1px;
}

.shortlink {
    margin: 5px 0 10px 0;
}

input#shortlink-text {
    width: 75%;
    border: 1px solid #B1B3B5;
}

/* ----------------------------image action--------------*/
.image-action{
    width: 300px;
    height: 50px;
}

.actionParent *{
    transition: all .2s ease-in-out;

}
.overflow-float{
    overflow: hidden;
    float: left;
    color: #babcbf;
    padding: 0px 10px 0px 10px;
}
.overflow-float:not(#viewAction){
    padding-top: 5px;
}
.actionParent:hover *{
    transform: scale(1.1);
    color: #4f4d4d;
}