<div id="header">
    <a href="/"><img id="imgLogo" src="/images/logo.png" alt="anhdong" /></a>
    <div id="menu">
        <!--
        <ul>
            <li><a href="">Mới</a> </li>
            <li><a href="">Hot</a> </li>
        </ul>
        -->

        <!-- Trigger the modal with a button -->


        <div class="btn-group">
            <button type="button" class="btn btn-primary" onclick="location.href='/tao-anh';">Tạo ảnh</button>
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li><a href="javascript: function non(){}" data-toggle="modal" data-target="#myModal">Tải lên</a></li>
            </ul>
        </div>


    </div>
    <!--
    <div id="loginPanel">
        <a href=""><button type="button" class="btn btn-primary">Đăng nhập<i class="fa fa-facebook-square fa-lg" aria-hidden="true"></i></button></a>


        <a id="sreachIcon" href=""><i class="fa fa-search fa-lg" aria-hidden="true"></i></a>
        <input id="sreachText" type="text" name="fname">
    </div>
    -->

</div>