<div id="header">
    <a href="/"><img id="imgLogo" src="/images/logo.png" alt="anhdong" /></a>
    <div id="menu">
        <!--
        <ul>
            <li><a href="">Mới</a> </li>
            <li><a href="">Hot</a> </li>
        </ul>
        -->

        <!-- Trigger the modal with a button -->


        <div class="btn-group">
            <button type="button" class="btn btn-primary" onclick="location.href='/tao-anh';">Tạo ảnh</button>
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li><a href="javascript: function non(){}" data-toggle="modal" data-target="#myModal">Tải lên</a></li>
            </ul>
        </div>


    </div>

    <div id="loginPanel">

        <%if(req.user != null){%>
        <div class="dropdown">
            <button class="dropdown-toggle" type="button" data-toggle="dropdown">
                <i class="fa fa-bars fa-lg" aria-hidden="true"></i>
                <p><%=req.user.name%></p>
                <img class="circle" src="<%=req.user.avatar%>" alt="user avata" style="width:42px;height:42px;">
                </button>
            <ul class="dropdown-menu">
                <!--
                <li><a href="#">Trang cá nhân</a></li>
                -->
                <li><a href="/user/logout">đăng xuất</a></li>
            </ul>
        </div>

        <%}else{%>
        <a href="/user/login"><button id="loginButton" type="button" class="btn btn-primary">Đăng nhập<i class="fa fa-facebook-square fa-lg" aria-hidden="true"></i></button></a>
        <%}%>
    </div>

</div>

<div id="fb-root"></div>
<script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v2.6&appId=187750314956152";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

